*{
	font-family: Century Gothic;
}

body{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	background-image: url('Athenaeum_Background.jpg');
}

header{
	text-align: right;
	background-color: #784421;
}

	img#HEADER{
		bottom: 5px;
		width: 100%;
		height: 100%;
	}

footer{
	text-align: center;
	border: 1px solid black;
	background-color: #784421;
	color:white;
	padding:3px;
}

	a.footer_links{
		color: #aef124;
		font-weight: bolder;
		
	}

a{
	text-decoration: none;
	color:black;
}

/*---------------------------------index.php-------------------------------*/
div#abc{
	min-height:100%;
	border:transparent thick solid;
	background-color:white;
	margin:auto;
	min-height: 99%;
}

section#left_side{
	color:white;
	width: 60%;
	height: 100%;
	top: 39%;
}
	img#SHELF{
		bottom: 5px;
		width: 97%;
		height: 100%;
	}

section#first_row{
	border: 1px solid black;
	padding: 15px;
	background-color: #784421;
	color:white;
	position: absolute;
	width: 30%;
	height: auto;
	
	left: 57.5%;
	top: 59%;
}
	article#search{
		text-align:end;
	}


section#second_row{
	border: 1px solid black;
	padding: 15px;
	background-color: #784421;
	position: absolute;
	color:white;
	width: 30%;
	height: auto;
	left: 57.5%;
	top: 70%;
}

	article#register{
		width: 40%;
		padding: 10px;
		margin: 5px;
		background-color: #aef124;
		font-weight: bolder;
	}

	article#login{
		width: 40%;
		padding: 10px;
		margin: 5px;
		background-color: #aef199;
		font-weight: bolder;
	}
	a{
		color: black;
	}
	
section#third_row{
	border: 1px solid black;
	padding: 15px;
	background-color: #784421;
	color:white;
	width: 30%;
	height: auto;
	position: absolute;
	left: 57.5%;
	top: 90%;
}

/*----------------------------------login.php--------------------------------------*/
section#login{
	border: 3px solid black;
	padding: 15px;
	background-color: #784421;
	color:white;
}

article#login_form{
	border: 2px solid black;
	padding: 15px;
	background-color: #784421;
	color:white;
	width: 30%;
	text-align:center;
	position:relative;
	left: 35.5%;
}

/*----------------------------------register.php--------------------------------------*/

section#reg{
	border: 3px solid black;
	padding: 15px;
	background-color: #784421;
	color:white;
	width:46%;
	height: 500px;
}

	article#reg_form{
		border: 2px solid black;
		padding: 15px;
		background-color: #784421;
		color:white;
		text-align:center;
		height:90%;
	}

section#agreement{
	border: 3px solid black;	
	padding: 15px;
	background-color: #784421;
	color:white;
	width:35.3%;
	position:absolute;
	left: 52%;
	top: 83.5%;
}

	article#terms{
		border: 2px dashed black;
	}

	h3#terms{
		text-align:center;
		color:black;
	}

	p#terms{
		text-indent: 2em;
		border: 1px dashed white;
		width: 96%;
		position: relative;
		left: 1.5%;
	}

/*----------------------------------home.php--------------------------------------*/
section#greetings{
	border: 2px solid black;
	padding: 4px;
	background-color: #784421;
	color:black;
	text-align: right;
}

a#uname{
	color:white;
}

section#home_shelf{
	width: 75%;
}
	img#home_SHELF{
		width: 100%;
		height: 100%;
	}

section#nav{
	border: 1px solid black;
	background-color: #784421;
	color:black;
	text-align: center;
	position:absolute;
	width: 16%;
	height: auto;
	right:10%;
	top: 65.9%;
}

/*----------------------------------admin_nav.php--------------------------------------*/

div#accordion{
	border: 4px solid black;
	border-radius: 10px;
	background-color: #784421;
	position: relative;
	width:auto;
}

h3.titles{
	border-radius: 10px;
	background-color:black;
	text-align:center;
	padding: 5px;
	color:yellow;
}

a.links{
	padding:0px;
	text-align:center;
	color:white;
	text-align:center;
	border-bottom: 1px solid black;
}

div#content{
	border: 2px solid green;
	color:black;
}

/*----------------------------------------edit_profile.php----------------------------------------*/

section#left_side_edit{
	color:white;
	width: 60%;
	top: 20%;
	border: 3px solid black;	
	padding: 15px;
	background-color: #784421;
}

tr.label{

}
tr.field{
	
}

/*----------------------------------------view_profile.php----------------------------------------*/

section#avatar{
	border: 3px solid black;
	padding: 15px;
	background-color: #784421;
	color:white;
	width:25%;
	height:100%;
	text-align:justified;
}

section#info{
	border: 3px solid black;
	background-color: #784421;
	padding: 15px;
	color:white;
	width:25%;
	height: 40%;
	text-align:justified;
	margin-top: 20px;
}

section#search_tab{
	border: 3px solid black;
	background-color: #784421;
	padding: 15px;
	color:white;
	width:75%;
	height: auto;
	text-align:justified;
	margin-top: 20px;
}

section#search_result_tab{
	border: 3px solid black;
	background-color: #784421;
	padding: 15px;
	color:white;
	width:75%;
	height: auto;
	text-align:justified;
	margin-top: 20px;
}

section#view_shelf{
	position: absolute;
	width: 37%;
	height: 75%;
	top: 65%;
	left: 34%;
}
	img#view_SHELF{
		width: 100%;
		height: 80%;
	}

	
/*-------------------------user_requests.php-------------------*/
section#table_user_requests{
	color:white;
	width: 74%;
	top: 20%;
	border: 3px solid black;	
	padding: 15px;
	background-color: #784421;
}

/*-------------------------search_user.php-------------------*/

section#left_side_search_user{
	color:white;
	width: 40%;
	top: 20%;
	border: 3px solid black;	
	padding: 15px;
	background-color: #784421;
}